.ScheduledAppointments {
  width: 100%;
  font-family: var(--secondary-font);

  .appointments-container {
    padding: 20px;

    .grid-header,
    .grid-row {
      display: grid;
      grid-template-columns: repeat(6, 2fr);
      align-items: center;
      padding: 12px 15px;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }

    .grid-header {
      font-weight: 700;
    }

    .doctor-name {
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  .ScheduledAppointments {
    .appointments-container {
      .grid-header,
      .grid-row {
        grid-template-columns: repeat(5, 1.5fr);
      }

      .hide-category {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .ScheduledAppointments {
    .appointments-container {
      .grid-header,
      .grid-row {
        grid-template-columns: repeat(3, 2fr);
      }

      .hideTime,
      .hideDate {
        display: none;
      }
    }
  }
}
