.AdminSidebar {
  max-width: 300px; 
  display: flex; 
  flex-direction: column;
  gap: .8em; 
  .logo-wrapper {
    width: 10em; 
  }

  .logo-wrapper img {
    width: 100%; 
    height: 100%;
  }

  .list-items > .active {
    background: gray; 
  }

}


