.UserInfoHeader {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 320px;

  .header-container {
    display: flex;
    width: 320px;
    align-items: center;
    gap: 20px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    .notification-section {
      width: 20%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .numberCircle {
      width: 20px;
      height: 20px;
      display: grid; 
      place-items: center;
      background-color: red;
      color: white;
      font-size: .9em;
      border-radius: 50%;
      position: absolute;
      top: -4px;
      right: 8px;
    }
  }

  .profile-section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffdedeb1;
    padding: 0 10px;
    border-radius: 10px;


    .user-name {
      font-weight: 600;
      color: #530542;
      font-family: var(--secondary-font);

    }
  }

  .dropdown-content {
    position: absolute;
    background: white; 
    top: 54px;
    right: 10px;
    width: 200px;
    display: none;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .dropdown-item {
      padding: 15px;
      cursor: pointer;
      list-style: none;
      color: gray;
      text-align: center;
    }

    .dropdown-item a {
      text-decoration: none;
      width: 100%; 
      display: flex; 
      align-items: center;
      justify-content: center;
      color: inherit;
      font-family: var(--secondary-font);

    }

    .dropdown-item:hover:not(.dropdown-item:last-child){
      background: whitesmoke;
    }

    .logout {
      color: #d92e2e;
      background-color: #ffdede;
    }
  }

  .profile-section:hover .dropdown-content {
    display: block;
  }

  .profile-section:hover .dropdown-icon {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
  }
}

@media (max-width: 992px) {
  .UserInfoHeader {
    .profile-section {
      width: fit-content;
      display: flex; 
      gap: 1em;
    }

      .numberCircle {
        left: 12px;
      }
  
   
    .header-container {
     width: auto;
     
  
    }

    .user-name {
      display: none;
    }
  }
}




@media (max-width: 400px) {
  .UserInfoHeader {
    .numberCircle {
      left: 0px;
    }
  }
}
