/* General Footer Styling */
.Footer {
  display: flex;
  width: 100%;
  font-family: var(--primary-font);
  flex-direction: column;
  height: auto;
  background: #F4F4F4;
}


.footer-main-content {
  display: grid;
  grid-template-areas: "A B B B B B B C C C";
  padding: 3em 0;


}

.footer-section {
  display: flex;
  width: 100%;
  height: 100%;


}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo {
  width: 60%;
}

.footer-section:first-child {
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 1em;
  grid-area: A;

  p {

    font-size: 1em;
  }
}

.footer-section:nth-child(2) {
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  grid-area: B;
}

.footer-section-links .social-icons a {
  margin-right: 10px;
  color: #333;
}

.footer-section-links h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;

}

.footer-section-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.footer-section-links ul li {
  margin: .8em 0;
}

.footer-section-links ul li a {
  text-decoration: none;
  color: black;
  transition: .3s;
}

.footer-section-links ul li a:hover {
  color: var(--gray-text);
}


.animation {
  width: 100%;
}

.last-footer-section {
  grid-area: C;
  background-image: url("../../../assets/footer/graphic-section-background.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 385px;
  width: 385px;
  max-width: 385px;
  height: 388px;
  padding: 1em;

  .NewsletterPerson {
    left: 4em;
    bottom: 5em;
  }
}

.last-footer-section>p {
  position: relative;
  top: 3em;
  text-align: center;
}

.last-footer-section button {
  color: black;
  background: white;
  width: 200px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  padding: .8em 0em;

}






.footer-secondary-content p {
  text-align: center;
  padding: 1em 0;
  font-size: .8em;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {

  .footer-main-content {
    grid-template-areas: "A C"
      "B B";
    justify-items: center;
  }

  .footer-section:nth-child(2) {
    width: 100%;
    margin-top: 3em;
  }

}

@media screen and (max-width: 768px) {
  .footer-main-content {
    grid-template-areas: "A"
      "C"
      "B";
  }

  .logo {
    width: 300px;
  }

  .last-footer-section {
    margin-top: 5em;
  }
}


@media screen and (max-width: 576px) {
  .footer-secondary-content {
    padding: 2em;
    margin-top: 2em;
  }
}


@media screen and (max-width: 400px) {
  .last-footer-section {
    width: 100vw;
    min-width: 100vw;
  }

}