body{
    font-family: var(--secondary-font);
}

.container{
    margin: 20px;
    width: 100%;
    max-width: 210px;
    background-color: #D2F2AC;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

h2{
   font-size: 1em;
}

.progress{
    max-width: 180px;
    height: 8px;
    background-color: white;
}

.fill{
    max-width: 120px;
    height: 8px;
    background-color: #5C9249;
}

p{
    font-size: 12px;
}

button{
    background-color: #5C9249;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}