* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.PatientLoginForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 26em;
    width: 18em;
    align-items: center;
    border-radius: 0.4em;
    .email {
        margin-top: 1.5em;
    }
    
    .inputFields>label {
        margin-right: auto;
    }
    
    .recovery {
        width: 100%;
    }
    
    .recovery > a {
        color: var(--primary-color);
        margin-left: 1em;
        font-size: 0.8em;

    }
    
    .button {
        background-color: var(--primary-color);
        border: 0px;
        padding: 0.4em 3em;
        border-radius: 0.4em;
        padding: 0.6em 7em;
        font-size: 1em;
        color: white;
    }
    
    .googleLogin {
        display: flex;
        gap: 1em;
        padding: 0.6em em;
        background-color: #F2F2F2;
        justify-content: center;
        height: 2.6em;
        width: 18.5em;
        align-items: center;
        border-radius: 0.3em;
        font-size: 0.9em;
        img{
            width:3em;
        }
        p{
            text-wrap:none;
        }
    }
    .inputFields {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    input[type="email"],
    input[type="password"] {
        padding: 0.4em;
        background-color: #F2F2F2;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        width: 19.9em;
        height: 3.3em;
        border: 0px;
    }
    
    .eye-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
    }
}

