.NewsPage{
    font-family: var(--secondary-font);
    padding: 2em;
    display: grid;
    grid-template-columns: 971fr 416fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "A B"
    "C B";

    .MainSection{
        padding-left: 2em;
        padding-right: 4em;
        grid-area: A;
        .MainImage{
                width: 100%;
                object-fit: contain;
                height: auto;
        }
    }

    .FAQsSection{
        grid-area: B;
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 3em;
        .social-handles{
            justify-self:start;
            display: flex;
            max-height: 203px;
            gap: 1em;
            background-color: #F3F9CB;
            max-width: 380px;
            border-radius: 10px;
            b{
                margin-left: 1em;
            }
            p{
                font-size: 1em;
                max-height: 120px;
                overflow: hidden;
                color: var(--gray-text);
                width: 227px;
                margin-left: 1em;
            }
            .text{
                display: flex;
                overflow: auto;
                gap: 1em;
                flex-direction: column;
                margin: 1em;
                
            }
            .handles{
                display: flex;
                flex-direction: column;
                margin: 1em;
                gap:0.5em;
            }
        }
    }

    .NewsPage-NewsCardSection{
        grid-area: C;
        justify-self: center;

    }
}
@media screen and (max-width:1368px) {
    .NewsPage{
        display: grid;
        grid-template-columns: 1fr;
        .MainSection{
            justify-self: center;
            align-items: center;
        }
        .FAQsSection{
            display: none;
        }
    }
}