.SecondaryButton {
    padding: .6em 3em;
    background: var(--secondary-color);
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 10px;
}

.SecondaryButton:hover {
    background: var(--hover-secondary-color);
}   