*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
    justify-self: center;
}
.PatientLoginPage{
    display: grid;
    grid-template-areas: 
    "A B C"
    "A B D";
    grid-template-columns: 506fr 366fr 360fr;
    grid-template-rows: 220fr 263fr;
    
    .social-handles{
        margin: 1em;
        display: flex;
        grid-area: C;
        gap: 1em;
        background-color: #F3F9CB;
        max-width: 360px;
        border-radius: 10px;
        p{
            font-size: 0.8em;
            color: var(--gray-text);
            max-width: 227px;
        }
        .text{
            display: flex;
            gap: 1em;
            flex-direction: column;
            margin: 1em;
            
        }
        .handles{
            display: flex;
            flex-direction: column;
            margin: 1em;
            gap:0.5em;
        }
    }
    .registerNow{
        grid-area: D;
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin: 1em;
        gap: 1em;
        p{
            max-width: 334px;
            font-size: 0.8em;
        }
    }
    .form{
        grid-area:B;
        margin-top: 1em;
    }
    .welcomeMessage{

        display: none;
        flex-direction: column;
        gap: 1.2em;
        align-items: center;
        font-family: var(--primary-font);
        .heading{
            font-size: 1.9em;
            font-family: var(--primary-font);

        }
        p{
            max-width: 460px;
            font-family: var(--primary-font);
            text-align: center;

        }
        b{
            color: var(--primary-color);

        }
    }
    
}
@media screen and (max-width:992px){
    .PatientLoginPage{
        grid-template-rows: 182fr 203fr 246fr;
        grid-template-columns: 360fr 394fr;
        grid-template-areas: 
        "head head"
        "temp1 form"
        "temp2 form";
        grid-gap: 1em;
        .welcomeMessage{
            display: flex;
            grid-area: head;
        }
        
        .social-handles{
            grid-area: temp1;
        }
        .registerNow{
            grid-area: temp2;
        }
        .form{
            grid-area: form;
            justify-self: center;
        }
    }
    
}
@media screen and (max-width:576px){
    .PatientLoginPage{
        display:grid;
        grid-template-rows: 52fr 411fr 227fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "A"
        "B"
        "C";
        .welcomeMessage{
            display: flex;
            grid-area: A;
            .text{
                display: none;   
            }
            b{
                display: none;
            }
        }
        .social-handles{
            display: none;
        }
        .registerNow{
            grid-area: C;
            align-items: center;
        }
        .form{
            grid-area: B;
            max-height:462px;
        }
    }
}
    