.PatientLoginPage{
    display: grid;
    font-family: var(--secondary-font);
    grid-template-areas: 
    "A B C"
    "A B D";
    grid-template-columns: 506fr 366fr 360fr;
    grid-template-rows: 220fr 263fr;
    margin-top: 2em;
    margin-bottom: 2em;
    
    .social-handles{
        margin: 1em;
        display: flex;
        max-height: 203px;
        grid-area: C;
        gap: 1em;
        background-color: #F3F9CB;
        max-width: 360px;
        border-radius: 10px;
        p{
            font-size: 1em;
            max-height: 120px;
            overflow: hidden;
            color: var(--gray-text);
            width: 227px;
        }
        .text{
            display: flex;
            overflow: auto;
            gap: 1em;
            flex-direction: column;
            margin: 1em;
            
        }
        .handles{
            display: flex;
            flex-direction: column;
            margin: 1em;
            gap:0.5em;
        }
    }
    .registerNow{
        grid-area: D;
        display: flex;
        flex-direction: column;
        max-height: 230px;
        width: 360px;
        margin: 1em;
        gap: 1em;
        p{
            max-width: 334px;
            max-height: 96px;
            font-size: 1em;
        }
    }
    .form{
        grid-area:B;
        margin-top: 1em;
        max-height: 430px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        justify-self: center;
    }
    .welcomeMessage{
        display: none;
    }
    .welcomeMessage-2{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        bottom: 0em;
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        align-items: center;
        font-family: var(--primary-font);
        .heading{
            font-size: 1.9em;
            font-family: var(--primary-font);

        }
        p{
            max-width: 460px;
            font-family: var(--primary-font);
            text-align: center;

        }
        b{
            color: var(--primary-color);

        }
    }
    .pagecontent{
        position: relative;
        grid-area: A;
        justify-self: end;
        margin: 1em;
        max-height: 484px;
        
    }
    
}
@media screen and (max-width:992px){
    .PatientLoginPage{
        grid-template-rows: 182fr 203fr 246fr;
        grid-template-columns: 360fr 394fr;
        grid-template-areas: 
        "head head"
        "temp1 form"
        "temp2 form";
        grid-gap: 1em;
        .pagecontent{
            display: none;
        }
        .welcomeMessage{
            grid-area: head;
            display: flex;
            flex-direction: column;
            gap: 1.2em;
            align-items: center;
            font-family: var(--primary-font);
            .heading{
                font-size: 1.9em;
                font-family: var(--primary-font);
            }
            .text{
                max-width: 462px;
                text-align: center;
            }
            b{
                color: var(--primary-color);
            }
        }
        .social-handles{
            grid-area: temp1;
            justify-self: flex-end;

        }
        .registerNow{
            grid-area: temp2;
            justify-self: flex-end;
            width: auto;
        }
        .form{
            grid-area: form;
            justify-self: flex-start;
        }
        .pagecontent{
            img{
                display: none;
                }
        }
    }
    
}
@media screen and (max-width:576px){
    .PatientLoginPage{
        display:grid;
        grid-template-rows: 52fr 320fr 227fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "A"
        "B"
        "C";
        .welcomeMessage{
            display: flex;
            grid-area: A;
            text-align: center;
            .text{
                display: none;   
            }
            b{
                display: none;
            }
        }
        .social-handles{
            display: none;
        }
        .registerNow{
            grid-area: C;
            text-align: center;
            justify-self: center;
            p{
                text-align: center;
            }
        }
        .form{
            grid-area: B;
            max-height:400px;
            justify-self: center;
        }
        .pagecontent{
            display: none;
        }
    }
}
    