.SupportPage{
    width: 100%;
    overflow-x: hidden;
    font-family: var(--secondary-font);
    .Hero-Section{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "A B"
        "C C";
        .mainImage{
            grid-area: B;
            width: 75%;
            height: 100%;
        }
        .Hero-Content{
            grid-area: A;
            width: 80%;
            justify-self: center;
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 2em;
            .Heading{
                font-size: 2.5em;
                font-weight: bold;
                font-family: var(--primary-font);
            }
            .Description{
                width: 80%;
                line-height: 1.5;
            }
            .Buttons{
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
            }

        }
        .Checklist-Section{
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            grid-area: C;
            justify-content: space-evenly;
            .Checklist{
                padding:1em 2em;
                border-radius: 10px;
                display: flex;
                height: fit-content;
                align-items: center;
                gap: 1em;
                font-size: 1.1em;
                font-weight: bold;
                color: var(--primary-color);
                .CheckImage{
                    height: 2.8em;
                    width: 2.8em;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 2em;
                    }
                }
            }
        }
    }
    
    .Support-Section{
        background: linear-gradient(to bottom, white, #E2CBDE, #E1C9DD);
        min-height: 565px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 1em;
        .Heading{
            font-size: 2em;
            font-weight: bold;
        }
        .Support-Methods{
            display: flex;
            gap: 1em;
            padding: 2em 1em;
            .Method{
                width: 33%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2em;
                gap: 1em;
                background-color: white;
                border-radius: 10px;
                .Head{
                    font-size: 1.2em;
                    color: var(--primary-color);
                    font-weight: 500;
                    text-align: center;
                }
                .Body{
                    text-align: center;
                    line-height: 1.5;
                    width: 80%;
                }
            }
        }
        .Support-Button{
            color: white;
            font-size: 1.1em;
            font-weight: 500;
            align-items: center;
            display: flex;
            gap: 0.8em;
            padding: 1em 3em;
            border-radius: 10px;
            background: linear-gradient(to right, #965497, #EF5F5F);
        }
    }
    .Status-Section{
        height: fit-content;
        padding: 4em;
        .Heading{
            font-size: 2em;
            font-weight: bold;
            font-family: var(--primary-font);
            width: 100%;
            margin-bottom: 2em;
            text-align: center;
        }
        .Status-Container{
            display: flex;
            font-size: 1.1em;
            flex-direction: column;
            gap: 1.5em;
            .Status-headings{
                display: grid;
                grid-template-columns: 1fr 0.5fr 1fr;
                gap: 2em;
                font-weight: bold;
                justify-items: center;
                align-items: center;
            }
            .Ticket{
                display: grid;
                gap: 2em;
                grid-template-columns: 1fr 0.5fr 1fr;
                align-items: center;
                justify-items: center;
                .Ticket-Issue{
                    width: 80%;
                    
                }
                .Ticket-Status{
                    text-wrap: nowrap;
                }
                
            }
        }
    }
}

@media screen and (max-width:992px){
    .SupportPage{
        .Hero-Section{
            grid-template-columns: auto auto auto;
            height: fit-content;
            grid-template-areas: 
            "A"
            "B"
            "C";
            .mainImage{
                justify-self: center;
            }
            .Hero-Content{
                .Heading{
                    text-align: center;
                    width: 100%;
                }
                .Description{
                    text-align: center;
                    width: 100%;
                }
                .Buttons{
                    justify-content: center;
                }
            }
            .Checklist-Section{
                margin-top: 1.5em;
                width: 100%;
                flex-direction: column;
                padding: 1em;
                .Checklist{
                    width: 100%;
                    justify-content: center;
                }
            }
        }
        .Support-Section{
            padding-top: 2.5em;
            .Support-Methods{
                flex-direction: column;
                align-items: center;
                .Method{
                    width: 70%;
                    padding: 2.5em;
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    .SupportPage{
        .Support-Section{
            .Support-Methods{
                .Method{
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width:576px){
    .SupportPage{
        .Hero-Section{
            grid-template-areas: 
            "B"
            "A"
            "C";
            .Hero-Content{
                .Heading{
                    font-size: 1.7em;
                }
                .Buttons{
                    .Button-Container{
                        width: 100%;
                    }
                }
            }
            .Checklist-Section{
                .Checklist{
                    font-size: 0.8em;
                }
            }
        }
        .Support-Section{
            .Support-Methods{
                .Method{
                    width: 90%;
                }
            }
        }
        .Status-Section{
            padding: 2em 1em;
            .Status-headings{
                .status-Head{
                    display: none;
                }
            }
            .Status-Container{
                .Status-headings{
                    grid-template-columns: 1.2fr 0.8fr;
                    gap: 0.5em;
                }
                .Ticket{
                    gap: 0.5em;
                    grid-template-columns: 1.2fr 0.8fr;
                    .Ticket-Issue{
                        width: 100%;
                    }
                    .Ticket-Status{
                        display: none;
                    }
                }
            }
        }
    }
}