.DoctorsPage{
    font-family: var(--secondary-font);
    .Hero-Section{
        height: 100vh;
        background-size: cover;
        display: grid;
        grid-template-rows: 0.8fr 1.2fr;
        grid-template-areas: 
        "A B"
        "C B";
        .mainImage{
            grid-area: B;
        }
        .Hero-content{
            grid-area: A;
            display: flex;
            flex-direction: column;
            gap: 2em;
            max-width: 650px;
            margin-left: 2em;
            align-self: center;
            .Heading{
                font-size: 2.5em;
                font-weight: 500;
                font-family: var(--primary-font);
            }
            .Body{
                
            }
        }
        .Hero-Merits{
            align-self: center;
            grid-area: C;
            display: flex;
            div{
                background-color: white;
            }
            .Merit-1{
                height: 10em;
                width: 10em;
                border-radius: 5em;
            }
            .Merit-2{
                height: 15em;
                width: 15em;
                border-radius: 7.5em;

            }
            .Merit-3{
                height: 20em;
                width: 20em;
                border-radius: 10em;
            }
        }
    }
}