.DashboardHeader>div {
    width: 100%;
    height: 100%;
}

.DashboardHeader {
    background: white;
    display: grid;
    grid-template-areas: 'middle middle middle middle right right';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .dashboard-header-left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
    }
   
    .dashboard-header-middle {
        grid-area: middle;
        padding: 0 1em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .dashboard-header-right {
        grid-area: right;
        display: flex;
        padding: 0 1em;
        align-items: center;
        justify-content: flex-end;
    }

    .file-list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .attachment-button {
        display: flex;
        align-items: center;
        gap: 1em;
        cursor: pointer;
    }

    .support-ticket-form-heading {
        font-family: var(--primary-font);
        font-weight: bold;
        font-size: 1.2em;
    }

    .dash-header-title {
        font-family: var(--primary-font);
        font-weight: bold;
        font-size: 1.2em;
    }

    .dash-header-title {
        cursor: pointer
    }

    .dash-header-title-dropdown-icon {
        width: 15px;
        height: 15px;
        margin-left: .5em;
    }

    .dash-header-title-list {
        display: none;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        width: 20em;
        position: absolute;
        border-radius: 10px;
        top: 45px;
        left: -10px;
        background: white;
    }

    .dash-header-title-wrapper {
        height: fit-content;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }

    .dash-header-title-list-item-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1em;
        justify-content: center;
    }

    .dash-header-title-list-item {
        font-family: var(--secondary-font);
        font-weight: normal;

        text-decoration: none;
        font-size: .9em;
        padding: .8em 1em;
        transition: 0.3s;
        width: 100%;
        color: var(--gray-text);
        text-align: center;
    }

    .dash-header-title-list-item:hover {
        background: var(--primary-color);
        color: white;

    }
}

@media (max-width: 992px) {
    .DashboardHeader {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 'left middle middle middle right right';
    }
}

@media (max-width: 576px) { 
    .DashboardHeader {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 48.5% 48.5%;
        grid-template-areas: 'left right right'
        'middle middle middle';
        height: 100px;

        .dashboard-header-middle   {
            align-items: flex-start;
            justify-content: center;
            align-items: center;
        }

        .dashboard-header-left {
            padding: 0 2em;
            justify-content: flex-start;
        }

        .dashboard-header-right {
            align-items: center;
        }

        .dash-header-title-list {
            width: 100vw !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
            
        }

        

    }
}

