.NewsCard{
    height: fit-content;
    flex-direction: column;
    width: 23em;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    font-size: 1em;
    font-family: var(--secondary-font);
    padding-bottom: 1em;
    gap: 0.9em;
    img,p{
        margin: 0.5em;
    }

    .Heading{
        font-weight: bold;
    }
    .DateAndButton{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ReadMoreButton{
            margin-right: 0.6em;
        }
    }
}